.contact {
  display: none;

  &--footer {
    display: block;
  }

  @include desktop {
    display: flex;
    position: relative;

    &--footer {
      flex-direction: column;
      align-items: end;
    }
  }
}

.contact__item {
  cursor: pointer;
}

.contact__phone {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;

  @include desktop {
    &--header {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      margin-right: 46px;
    }

    margin-bottom: 20px;
  }
}

.contact__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0 10px;

  @include desktop {
    &--header {
      gap: 0 30px;
    }

    margin-bottom: 20px;
  }
}


.contact__icon {
  width: 24px;
  height: 24px;

  @include desktop {
    width: 20px;
    height: 20px;
  }
}

.contact--header::after {
  @include desktop {
    position: absolute;
    content: "";
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.21) 78.59%, rgba(86, 24, 128, 0.23) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(3px);
    backdrop-filter: blur(2px);
    top: -64px;
    left: -120px;
    width: 60px;
    height: 60px;
  }
}
