.gifts__title {
  margin: 45px 0 20px;

  @include desktop {
    margin: 16px 0 40px 0;
    width: 290px;
    text-align: right;
  }
}

.gifts__title-primary {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.gifts__title-colored {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 175%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @include desktop {
    text-transform: uppercase
  }
}

.gifts__button {
  @include visually-hidden;

  @include desktop {
    position: relative;
    width: 262px;
    height: 61px;
    background-color: $background-color-button;
    color: $text-color-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-top: 30px;
  }
}
