.header {
  @include desktop{
    display: flex;
    padding: 14px 0 4px;
    margin: 0 auto;

  }
}

.header__logo {
  display: none;

  @include desktop{
    display: block;
  }
}

.header__nav {
  @include desktop {
    margin: 0 136px 0 50px;
  }
}

.header {
  position: relative;
}

.header::before {
  position: absolute;
  content: "";
  width: 260px;
  height: 260px;
  background-color: #833AB4;
  border-radius: 50%;
  opacity: 0.05;
  top: 270%;
  left: 80%;
  box-shadow: 0 0 30px 30px #833AB4;

  @include desktop {
    width: 260px;
    height: 260px;
    opacity: 0.15;
    box-shadow: 0 0 50px 50px #833AB4;
    top: -202px;
    left: 51%;
    transform: translateX(-50%);
  }
}
