.hero__title {
  font-size: 36px;
  line-height: 44px;
  margin: 0;
  font-weight: 400;

  @include desktop {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    width: 362px;
  }
}

.hero__colored-title {
  display: block;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  //-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @include desktop {
    display: inline-block;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
  }
}

.hero__description {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 14px;

  @include desktop {
    margin-top: 30px;
    width: 276px;
  }
}

.hero {
  position: relative;
}

.hero::before {
  position: absolute;
  content: "";
  width: 210px;
  height: 210px;
  background-color: #961a1a;
  border-radius: 50%;
  opacity: 0.05;
  top: 100%;
  left: -30%;
  box-shadow: 0 0 30px 30px #961a1a;

  @include desktop {
    width: 310px;
    height: 310px;
    opacity: 0.15;
    top: 50px;
    left: -63%;
    box-shadow: 0 0 50px 50px #961a1a;
  }
}
