.hero__title {
  font-size: 36px;
  line-height: 44px;
  margin: 0;
  font-weight: 400;

  @include desktop {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    width: 362px;
  }
}

.hero__colored-title {
  display: block;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @include desktop {
    display: inline-block;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
  }
}

.hero__description {
  display: block;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 14px;

  @include desktop {
    margin-top: 30px;
    width: 276px;
  }
}
