.main {
  flex-grow: 1;
  padding: 40px 16px 55px;
  background-image: url(../img/background-img-mob.png);
  max-height: 445px;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $background-color-primary;
}
