.nav {
  padding: 20px 0;
  font-family: 'Inter', 'Arial', sans-serif;

  @include desktop {
    padding: 0;
  }
}

.nav__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;

  @include desktop {
    gap: 0 16px;
    justify-content: start;
  }
}

.nav__item {
  margin-right: 16px;

  @include desktop {
    padding: -5px;
    margin: 0;
  }
}

.nav__item:nth-child(3n+4) {
  margin-right: 0;
}

.nav__item:last-child {
  display: none;

  @include desktop {
    display: block;
  }
}

.nav__link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  text-transform: uppercase;

  @include desktop {
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
  }
}

.nav__list::after {
  @include desktop {
    position: absolute;
    content: "";
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
    top: 22px;
    left: 182px;
    width: 83px;
    height: 83px;
  }
}
