$text-color-primary: #000000;
$text-color-secondary: #333333;
$text-color-lighten: #ffffff;
$text-current-page-color: #766357;

$background-color-primary: #ffffff;

$items-background-color: #eeeeee;

$opacity-primary-color: rgba($text-color-primary, 30%);
$opacity-secondary-color: rgba($text-color-secondary, 30%);
$opacity-color-lighten: rgba($text-color-lighten, 30%);

$desktop-width: 1440px;
